@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Indie+Flower|Lobster|Play');

html, body{
    width: 100%;
}

@media (max-width: 768px) {
    h1{font-size: 2rem !important;}
    h2{font-size: 1.3rem !important;}
    h3{font-size: 1.05rem !important;}
    h4{font-size: 0.7rem !important;}
    
}

nav{
    background-color: rgba(255, 255, 255, 0.5);
}
#Accueil{
    background: url("Images/photoTest.jpg");
    filter: grayscale(60%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;    
}
@media (max-width: 576px) { #Accueil{height: 300px;} }
@media (min-width: 576px) { #Accueil{height: 300px;} }
@media (min-width: 768px) { #Accueil{height: 400px;} }
@media (min-width: 992px) { #Accueil{height: 500px;} }
@media (min-width: 1200px) { #Accueil{height: 750px;} }  

#textePhoto{
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 50%;
}

h1{
    font-family: 'Play', sans-serif !important;
}
h2{
    
    font-family: 'Lobster', cursive !important; 
}
h3{
    font-family: 'Indie Flower', cursive !important;
}
h4{
    font-family: 'Gochi Hand', cursive !important;
}
#texteObjectif{
    padding: 0% 20%;
}

.wi-100 {width: 100% !important;}
.wi-80 {width: 80% !important;}
.wi-75 {width: 75% !important;}
.wi-60 {width: 60% !important;}
.wi-50 {width: 50% !important;}
.wi-40 {width: 40% !important;}
.wi-25 {width: 25% !important;}
.wi-20 {width: 20% !important;}

@media (min-width:576px) {
.w-sm-100 {width: 100% !important;}
.w-sm-80 {width: 80% !important;}
.w-sm-75 {width: 75% !important;}
.w-sm-60 {width: 60% !important;}
.w-sm-50 {width: 50% !important;}
.w-sm-40 {width: 40% !important;}
.w-sm-25 {width: 25% !important;}
.w-sm-20 {width: 20% !important;}
}

@media (min-width:768px) {
.w-md-100 {width: 100% !important;}
.w-md-80 {width: 80% !important;}
.w-md-75 {width: 75% !important;}
.w-md-60 {width: 60% !important;}
.w-md-50 {width: 50% !important;}
.w-md-40 {width: 40% !important;}
.w-md-25 {width: 25% !important;}
.w-md-20 {width: 20% !important;}
}

@media (min-width:992px) {
.w-lg-100 {width: 100% !important;}
.w-lg-80 {width: 80% !important;}
.w-lg-75 {width: 75% !important;}
.w-lg-60 {width: 60% !important;}
.w-lg-50 {width: 50% !important;}
.w-lg-40 {width: 40% !important;}
.w-lg-25 {width: 25% !important;}
.w-lg-20 {width: 20% !important;}
}

@media (min-width:1200px) {
.w-xl-100 {width: 100% !important;}
.w-xl-80 {width: 80% !important;}
.w-xl-75 {width: 75% !important;}
.w-xl-60 {width: 60% !important;}
.w-xl-50 {width: 50% !important;}
.w-xl-40 {width: 40% !important;}
.w-xl-25 {width: 25% !important;}
.w-xl-20 {width: 20% !important;}
}

@media (max-width:768px) {
    #fleche{font-size: 125% !important;}
}
@media (min-width:768px) {
    #fleche{font-size: 175% !important;}
}